$grey-background: #f5f5f5;
$grey-border: #ddd;
$grey-text: #898989;
$grey-dark: #444;
$main-light: #d9f2fb;
$main: #00a9e0;
$main-dark: #007da6;
$delete: #ff5100;
$warning: #f6c223;
$body: #081f2c;

.select {
  position: relative;
  display: inline-block;
  width: 320px;

  &:focus {
    outline: 0;

    & .selection {
      box-shadow: 0 0 2px 2px $main;
    }
  }
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.selection {
  position: relative;
  min-height: 41px;
  padding: 5px 25px 5px 5px;
  border: 1px solid $grey-border;
  border-radius: 3px;
}

.value {
  position: relative;
  display: inline-block;
  padding: 4px;
  border-radius: 3px;
}

.multiple {
  padding-right: 25px;
  margin-right: 3px;
  background-color: $main-light;
  color: $grey-text;
}

svg {
  display: block;
  width: 1.4em;
  height: 1.4em;
  fill: currentColor;
}

.delete {
  position: absolute;
  font-size: 5px;
  font-size: 8px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: 1px;
  right: 7px;
  padding: 10px;
}

.delete:hover {
  color: $delete;
}

.arrow {
  position: absolute;
  top: 3px;
  right: 5px;
  display: block;
  padding: 10px;
  font-size: 10px;
  color: $grey-text;
  cursor: pointer;
}

.arrow:hover {
  color: #000000;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: solid $grey-border;
  border-width: 0 1px;
  background: #fff;
}

.option {
  padding: 10px 15px;
  cursor: pointer;

  &.selected {
    margin: -1px -1px 0;
    background: $main-light;
  }

  &.focused {
    background: $grey-background;
  }
}
